# Allowed domains, comma separated
ALLOWED_DOMAINS={{ allowed_domains | join(',') }}
# ICAP server url
ICAP_URL={{ icap_url }}
# Root domain, the domain appended to the original website domain
ROOT_DOMAIN={{ root_domain }}
